extends layout

block content
  header(id="list-header")
    h1= heading
  if msg
    ul 
      each val in msg 
        li(class="redText")= val.msg
  form(class="contactGroup" method="POST" action="/contacts/add", enctype='multipart/form-data')
    input(type="text" name="firstName" class = "contactInput" placeholder = "First Name")
    input(type="text" name="lastName" class = "contactInput" placeholder = "Last Name")
    input(type="email" name="email" class = "contactInput" placeholder = "Email Address")
    textarea(name="notes" class="contactInput" placeholder= "Notes" cols="30", rows="6")
    .input-group 
      label Select files 
      | 
      input(type='file', name='userFiles', multiple)
    button(class="btn")
      | Submit
  div.contact-form-btn-ctn
    div(class="ctn-1 ctn-ph-2 flexbox flex-center")
      div(class ="col-1" name = "lastEdited")
      div(class="col-1 contact-form-cta-social")
        a(id = "contact-form-send" href=`/contacts`) Back